body {
  font-family: "Open Sans", sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.up {
  display: flex;
  flex-direction: row;
}
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 148px;
  height: 680px;
  padding: 32px 30px 40px 53px;
  outline: 1px solid tomato;
}

.sidebar__logo {
  position: absolute;
  top: 32px;
  left: 53px;
}
.sidebar__network {
  position: absolute;
  display: flex;
  transform: rotate(-90deg);
  justify-content: center;
  align-items: center;
}

.sidebar__network::before {
  content: "";
  width: 1px;
  height: 60px;
  background-color: #303030;
  transform: rotate(-90deg);
  margin-right: 40px;
}

.sidebar__link {
  margin-right: 40px;
  color: #303030;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-decoration: none;
}
